body{
  background-color: #000000;
}

div#content{
  background-color: #170129;
  height: auto;
}

h1{
  font-family: "courier", monospace;
  font-weight: bold;
  font-size: 36px;
  color: #6913b0;
}

h2, h3{
  font-family: "courier", monospace;
  font-weight: bold;
  font-size: 24px;
  color: #19b524;
}

div.image{
  background-color: #6913b0;
  width: 1000px;
  height: 500px;
  align-content: center;
  caption-side: bottom;
  padding-left: 540px;
}

img{
  padding-top: 25px;
  align-content: center;
  width: 400px;
  height: 400px;
}

figcaption{
  font-family: fantasy;
  font-weight: bolder;
  color: #000000;
  font-size: 24px;
  font-variant: small-caps;
  text-shadow: 3px;
}

div.info{
  padding-left: 20px;
  padding-right: 20px;
  line-height: normal;
}

p{
  color: #db660d;
  font-family: "courier, monospace";
  font-style: bold;
  font-size: 18px;
}

p:hover{
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #6913b0;
}

nav{
  font-size: 24px;
  font-family: fantasy;
  font-weight: bold;
  color: #6913b0;
  text-decoration: underline;
  text-align: left;
}
