body{
  background-color: #b3bbc7;
}

.col {
  min-height: 200px;
  text-align: center;
  border: solid 1px #323538;
  min-width: 200px;
  background-color: #d5dfed;
}

.col h1, .col h2 {
  text-align: center;
  color: #323538;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}

.col h3{
  text-align: left;
  color: #323538;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}

.row {
  border: solid 1px black;
  padding: 10px;
  background-color: #b3bbc7;
}

img{
  width: 200px;
  height: auto;
  max-width: 100%;
  border: solid 7px #b3bbc7;
}


p{
  text-align: left;
  color: black;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
