body {
    font-family: "courier", monospace;
    color: #bc8f8f;
    background-color: snow;
    padding: 10px;
    font-size: 100%;
}
div#content{
  padding: 50px;
  background-color: honeydew;
  border: dashed 5px #bc8f8f;
  height: 80vh;
}
img {
    padding: 1px;
    float: top left;
    width: 350px;
    height: auto;
    caption-side: below;
    border: dashed 2px #006400;
}

}
h1, h2, h3 {
    font-family: "courier", monospace;
    color: #bc8f8f;
}

p {
    text-decoration: none;
    color: #006400;
}
p:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}

figcaption {
  font-family: "courier", monospace;
  font-variant: small-caps;
  font-weight: bold;
  color: #006400;
}
